@font-face {
  font-family: "Tenor Sans";
  src: url("fonts/Tenor_Sans/TenorSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "New Icon";
  src:
    url("fonts/New Icon Font/Webfont/NewIconSerif-Regular.woff2")
      format("woff2"),
    url("fonts/New Icon Font/Webfont/NewIconSerif-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Questrial";
  src: url("fonts/Questrial/Questrial-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(5, 120px);
}

.year {
  font-family: "Tenor Sans", sans-serif;
  font-size: 4em;
  /* transform: scaleY(2); */
}
@media (max-width: 767.98px) {
  .year {
    transform: scaleY(1);
  }
}

.month-name,
.oroscopo .title {
  font-family: "New Icon", serif;
  font-size: 4.5em;
}

@media (max-width: 767.98px) {
  .month-name {
    font-size: 3.5em;
  }
}

.oroscopo-content-r {
  border-left: 2px solid #ccc;
}

.slide2 .month-name,
.slide2 .day,
.slide2 .oroscopo {
  background-color: #ffe6e6f0;
}

.slide3 .month-name,
.slide3 .day,
.slide3 .oroscopo {
  background-color: #efe0fff0;
}

.slide4 .month-name,
.slide4 .day,
.slide4 .oroscopo {
  background-color: #fffcebf0;
}

.slide5 .month-name,
.slide5 .day,
.slide5 .oroscopo {
  background-color: #e4ffd8f0;
}

.slide6 .month-name,
.slide6 .day,
.slide6 .oroscopo {
  background-color: #e1ecfff0;
}

.slide7 .month-name,
.slide7 .day,
.slide7 .oroscopo {
  background-color: #fff0f0f0;
}

.slide8 .month-name,
.slide8 .day,
.slide8 .oroscopo {
  background-color: #ffc5c2f0;
}

.slide9 .month-name,
.slide9 .day,
.slide9 .oroscopo {
  background-color: #ffd3aef0;
}

.slide10 .month-name,
.slide10 .day,
.slide10 .oroscopo {
  background-color: #ffc398f0;
}

.slide11 .month-name,
.slide11 .day,
.slide11 .oroscopo {
  background-color: #ebbca0f0;
}

.slide12 .month-name,
.slide12 .day,
.slide12 .oroscopo {
  background-color: #a3bda6f0;
}

.oroscopo .title {
  font-size: 2.5em;
  transform: scaleY(1.5);
}

.day-content {
  font-family: "New Icon", serif;
  font-size: 1.5em;
}

.oroscopo-text,
.oroscopo-title {
  font-family: "Questrial", sans-serif;
}

.oroscopo-title {
  font-weight: bold;
}

.day-name {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  background: #f5f5f5;
  border-radius: 8px;
}

.celebrated-name {
  margin-top: 20px;
}
@media (max-width: 767.98px) {
  .age,
  .celebrated-name {
    font-size: 0.6em;
  }
}

.day {
  border: 1px solid #444;
  padding: 10px;
  min-height: 50px;
  min-width: 50px;
  background: #ffffffe2;
}

.day.current-day .day-number {
  border: 2px solid #ff9800;
  border-radius: 50%;
  padding: 2px 6px;
}

.logo {
  background-size: contain;
  width: 100%;
  max-width: 100px;
}

.content-calendar,
.oroscopo {
  margin-bottom: 50px;
}

.header {
  height: 100px;
}

.oroscopo,
.month-name {
  background-color: #f5f5f5e2;
}

.oroscopo-text {
  text-align: justify;
  font-size: 1.2em;
  line-height: 1.7;
}

.day-number {
  font-size: 1em;
  margin-right: 7px;
}

.sentence {
  background-image: url("img/sentence.png");
}

.stone,
.sentence {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-bottom: 5px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 8px;
  vertical-align: middle;
}
.stone {
  background-image: url("img/stone.png");
}
