@font-face {
  font-family: "Tenor Sans";
  src: url("fonts/Tenor_Sans/TenorSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "New Icon";
  src:
    url("fonts/New Icon Font/Webfont/NewIconSerif-Regular.woff2")
      format("woff2"),
    url("fonts/New Icon Font/Webfont/NewIconSerif-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Questrial";
  src: url("fonts/Questrial/Questrial-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(5, 120px);
}

.year {
  font-family: "Tenor Sans", sans-serif;
  font-size: 3em;
}

.month-name,
.oroscopo .title {
  font-family: "New Icon", serif;
  font-size: 4em;
}

.oroscopo .title {
  font-size: 2.5em;
}

.day-content {
  font-family: "New Icon", serif;
  font-size: 1.5em;
}

.oroscopo-text,
.oroscopo-title {
  font-family: "Questrial", sans-serif;
}

.day-name {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  background: #f5f5f5;
  border-radius: 8px;
}

.celebrated-name {
  margin-top: 20px;
}
@media (max-width: 767.98px) {
  .age,
  .celebrated-name {
    font-size: 0.8em;
  }
}

.day {
  border: 1px solid #444;
  padding: 10px;
  min-height: 50px;
  min-width: 50px;
  background: #ffffffe2;
}

.logo {
  background-size: contain;
  width: 100px;
}

.content-calendar,
.oroscopo {
  margin-bottom: 50px;
}

.header {
  height: 100px;
}

.oroscopo,
.month-name {
  background-color: #f5f5f5e2;
}

.oroscopo-text {
  text-align: justify;
  font-size: 1.2em;
  line-height: 1.7;
}

.day-number {
  font-size: 1em;
  margin-right: 7px;
}

.sentence {
  background-image: url("img/sentence.png");
}

.stone,
.sentence {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-bottom: 5px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 8px;
  vertical-align: middle;
}
.stone {
  background-image: url("img/stone.png");
}
